<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html>

        <head>
            <meta charset="UTF-8">
            <title>{:title:}</title>
        </head>
<body style="font-family: Segoe UI,arial,sans-serif;">
<div class="card" style="background-color: #fff; max-width: 640px; margin: 2rem auto; padding: 1rem 2rem; border: 1px solid #d8d8d8; word-wrap: break-word;">

    <div class="logo" style="font-size: 2.1rem; line-height: 1.2em; color: #000; margin-top: 1rem; margin-bottom: 2rem;">PiqTune</div>
    {:content:}
    <br>
    <p>Если вы получили это письмо по ошибке, просто проигнорируйте его.</p>
    <p>С Уважением, администрация сайта <a style="text-decoration: none;" href="http://piqtune.com">PiqTune.com</a>.</p>
</div>
</body>

</html>

